<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
            <!-- Firebase -->
            <!-- <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
            <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-firestore.js"></script>
            <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-analytics.js"></script> -->
        <title>Kino</title>
    </head>
    <body>
        <header>
            <h1>KINO test</h1>
        </header>
        <main class="content">
            <form id="add-movie-form">
                <input type="text" name="name" placeholder="Movie Name">
                <input type="text" name="year" placeholder="Movie Year">
                <button>Add Movie</button>
            </form>
            <ul id="movie-list"></ul>
        </main>
        <footer>

        </footer>
        <script>

        </script>
    </body>
</html>